<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968562025002-ucoi3780qaqc4t2snmjvp4p13g9mfcha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968562025002-ucoi3780qaqc4t2snmjvp4p13g9mfcha</string>
	<key>API_KEY</key>
	<string>AIzaSyDLE9OAqZwqIqUKPOCPlShaM84Ov5DYsQA</string>
	<key>GCM_SENDER_ID</key>
	<string>968562025002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phoenix.half</string>
	<key>PROJECT_ID</key>
	<string>half-ac030</string>
	<key>STORAGE_BUCKET</key>
	<string>half-ac030.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968562025002:ios:f8fd5e9545e384a67ed953</string>
	<key>DATABASE_URL</key>
	<string>https://half-ac030.firebaseio.com</string>
</dict>
</plist>